# Web API
fastapi
uvicorn

pandas
numpy

logai; python_version < "3.13"

langchain
langgraph

sentence-transformers

google-generativeai

openai   # used as client for Grok endpoint

groq

cohere

scikit-learn

httpx

python-dotenv

pydantic

tqdm
python-dotenv
requests 
beautifulsoup4 
rank_bm25 
mcp